.LoginForm {
    color: white;
    margin: 40px;
    height: 100%;
    padding: 50px;
}
form
{
    padding-top: 200px;
}
fieldset
{
    border: none;
    margin: 0;
    padding: 0;
}
.titles-form {
    text-transform: uppercase;
    font-size: 22px;
}
.login-title {
    font-weight: 700;
}
.register-title {
    font-weight: 400;
}
.login-title,
.register-title
{
    color: white;
    text-decoration: none;
    font-size: 22px;
}
.identifiant {
    display: flex;
    flex-direction: column;
}
.inputs-label {
    padding-top: 20px;
    font-size: 22px;
}
.password {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px;
}
.input-form {
    height: 30px;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    margin-top: 5px;
    font-size: 1.1em;
}
.checkbox {
    margin: 0 20px 0 0;
}
.label-checkbox {
    font-size: 14px;
    font-weight: 200;
}
.majeur {
    display: flex;
    align-items: start;
    justify-content: center;
}
.conditions {
    text-decoration: underline;
    cursor: pointer;
}
.newsletter {
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 20px 0 20px;
}
.content-btn-submit {
    padding-top: 100px;
}
.footer-form {
    padding-top: 50px;
}
.social-register {
    display: flex;
    justify-content: center;
    color: #B2B2B2;
}
.button-grp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 20px;
}
.account {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.allready-account {
    color: #B2B2B2;
}
.connexion {
    color: white;
    font-weight: 600;
}

.illustration-perso-mobile {
    display: none;
    width: 150px;
    margin: 50px auto 0;
}

@media all and (max-width: 1100px) {

    .LoginForm {
        margin: 10px;
        padding: 10px;
    }

}

@media all and (max-width: 800px) {

    form {
        padding-top: 50px;
    }

    .titles-form {
        text-align: center;
    }

    .LoginForm {
        padding-top: 50px;
    }

    .illustration-perso-mobile {
        display: block;
    }

}