
.illustration-perso {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    top: 0;
    left: 0;
}

.illustration-bg {
    mix-blend-mode: saturation;
    width: 85%;
    height: 100%;
    object-fit: cover;
}

@media all and (max-width: 800px) {

    .illustration-bg {
        width: 100%;
        height: 100vh;
        position: absolute;
    }

    /* .illustration-perso {
        width: 100px;
        height: auto;
    } */

    .illustration-perso {
        display: none;
    }

}