.RegisterForm {
    color:white;
    margin: 40px
}
.titles-form {
    text-transform: uppercase;
    font-size: 22px;
}
.register-title {
    font-weight: 700;
}
.login-title {
    font-weight: 400;
}
.identifiant {
    display: flex;
    flex-direction: column;
}
.inputs-label {
    font-size: 22px;
}
.password {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px;
}
.input-form {
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}
.checkbox {
    margin: 0 20px 0 0;
}
.label-checkbox {
    font-size: 14px;
    font-weight: 200;
}
.majeur {
    display: flex;
    align-items: start;
    justify-content: center;
}
.conditions {
    text-decoration: underline;
    cursor: pointer;
}
.newsletter {
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 20px 0 20px;
}
.button-submit {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-transform: uppercase;
    color: white;
    background-color: #2656F4;
    border:none;
    padding: 10px 50px 10px;
    border-radius: 5px;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 3px;
    cursor: pointer;
}
.footer-form {
    margin-top: 20px;
}
.social-register {
    display: flex;
    justify-content: center;
    color: #B2B2B2;
}
.button-grp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 20px;
}
.account {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.allready-account {
    color: #B2B2B2;
}
.connexion {
    color: white;
    font-weight: 600;
}


/* DESKTOP */
@media screen and (min-width: 960px) {

}