.register {
    display: flex;
    align-items: center;
}

.RegisterFormContainer {
    background-color: #303440;
    min-height: 100vh;
    width: 100vw;
}

/* DESKTOP */
@media screen and (min-width: 960px) {
    .image-container {
        background-image: url('https://images.unsplash.com/photo-1487700160041-babef9c3cb55?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1335&q=80');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        min-height: 100vh;
        width: 50vw;
    }
    .RegisterFormContainer {
        width: 50vw;
    }
}