.navigation {
    margin: 0;
}

.navigation ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.navigation a{
    text-decoration: none;
    color: white;
    margin: 20px;
}

.identifiant {
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 960px) {

}